<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Login</title>

    <link rel="stylesheet" href="/static/css/newstyle.css">


</head>

<body>

<div class="container">
    <div class="login">
        <h1 class="login-heading">
            <strong>Register</strong></h1>
        <form method="post" action="{{ url_for('index.register') }}">
            <input type="text" name="username" placeholder="Username" required="required" class="input-txt"/>
            <input type="password" name="password" placeholder="Password" required="required" class="input-txt"/>
            <input type="email" name="email" placeholder="Email" required="required" class="input-txt"/>
            <div class="login-footer">
                <button type="submit" class="btn btn--right">Submit</button>
            </div>
        </form>
    </div>
</div>


</body>

</html>
